<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.admin.dao.ManagerMapper">
    <resultMap id="BaseResultMap" type="com.academy.core.pojo.Manager">

        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_at" jdbcType="BIGINT" property="updateAt"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, pwd, role_id, status, create_by, update_by, update_at, create_at
  </sql>

    <!--根据id查询管理者-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--根据姓名查找数据-->
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        where name = #{name}
    </select>

    <!--动态查询数据-->
    <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        <trim prefix="WHERE" suffixOverrides="AND|OR">
            <if test="name != null">
                <bind name="name" value="'%'+name+'%'"/>
                NAME like #{name} and
            </if>
            <if test="roleId != null">
                role_id=#{roleId} and
            </if>
            <if test="status !=null">
                status=#{status} and
            </if>
            <if test="create_by !=null">
                create_by=#{createBy} and
            </if>
            <if test="update_by !=null">
                update_by=#{updateBy} and
            </if>
            <if test="create_at !=null">
                create_at=#{createAt} and
            </if>
            <if test="update_at !=null">
                update_at=#{updateAt}
            </if>
        </trim>
        order by update_at desc
        limit #{start},#{size}
    </select>
    <!--动态查询满足条件的总数-->

    <select id="selectByCountSelective" parameterType="map" resultType="int">
        select
        count(*)
        from manager
        <trim prefix="WHERE" suffixOverrides="AND|OR">
            <if test="name != null">
                <bind name="name" value="'%'+name+'%'"/>
                NAME like #{name} and
            </if>
            <if test="roleId != null">
                role_id=#{roleId} and
            </if>
            <if test="status !=null">
                status=#{status} and
            </if>
            <if test="create_by !=null">
                create_by=#{createBy} and
            </if>
            <if test="update_by !=null">
                update_by=#{updateBy} and
            </if>
            <if test="create_at !=null">
                create_at=#{createAt} and
            </if>
            <if test="update_at !=null">
                update_at=#{updateAt}
            </if>
        </trim>
        order by update_at desc
    </select>



    <!--根据id删除管理员-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from manager
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <!--插入一整条数据-->
    <insert id="insert" parameterType="com.academy.core.pojo.Manager">
    insert into manager (id, name, pwd,
      role_id, status, create_by, 
      update_by, update_at, create_at
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
      #{roleId,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, 
      #{updateBy,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT}
      )
  </insert>

    <!--动态插入数据-->
    <insert id="insertSelective" parameterType="com.academy.core.pojo.Manager">
        insert into manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=BIGINT},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <!--动态更新管理员-->
    <update id="updateByPrimaryKeySelective" parameterType="com.academy.core.pojo.Manager">
        update manager
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=BIGINT},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--更新一整条数据-->
    <update id="updateByPrimaryKey" parameterType="com.academy.core.pojo.Manager">
    update manager
    set
      name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>